.watchPost {
  max-width: 500px;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.watchPost__image {
  max-height: 20rem;
  max-width: 100%;
  object-fit: contain;
}

.watchPost__sticky {
  position: sticky;
  top: 3rem;
  background-color: white;
}

.watchPost__user {
  display: flex;
  width: 100%;
  height: 3rem;
  align-items: center;
  padding-bottom: 10px;
  margin-top: 0.7rem;
}

.watchPost__username {
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  font-size: 1rem;
}

.watchPost__avatar {
  width: 2.3rem !important;
  height: 2.3rem !important;
  margin-left: 20px;
}

.watchPost__follow {
  line-height: 1.9rem;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 20px;
  /* background: #ffff00; */
  /* background: #ffeb3b; */
  background: #fff179;
  border-radius: 2rem;
  width: 6rem;
  font-weight: 500;
  font-size: small;
  position: center;
  text-align: center;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.watchPost__caption {
  padding-right: 20px;
  padding-left: 20px;
  background-color: white;
  height: 100%;
  min-height:100%;
}

.watchPost__footer {
  display: flex;
  align-items: center;
  background: white;
  position: fixed;
  bottom: 1.4em;

}
